* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: var(--font-family);
}

:root {
  --page-padding-x: 12rem;
  --page-padding-y-top: 5rem;
  --page-padding-x-mobile: 1rem;
  --page-padding-y-mobile: 2rem;
  --page-padding-y-bottom: 4rem;
  --main-elements-border: 8px;
  --gap: 2rem;
  --gap-mobile: 1rem;
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --font-size: 1.125rem;
  --font-family: "DM Sans", sans-serif;
  --font-400: 400;
  --font-500: 500;
}

/* UTILITY CLASSES */
.container-borders {
  border-radius: var(--main-elements-border);
}
/* ---------------------------------- DESTKOP ------------------------------------------------------------------- */
main {
  padding: var(--page-padding-y-top) var(--page-padding-x)
    var(--page-padding-y-bottom);
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 97%);
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap);
}

.main-seven-elements,
.main-two-elements {
  height: 100%;
  width: 100%;
}

.main-two-elements {
  flex: 0 0 calc(25% - 1.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.main-two-elements > div {
  width: 100%;
  height: 100%;
}

.main-two-elements > div:nth-child(1) {
  background: var(--yellow-100);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.main-two-elements > div:nth-child(1) > h2 {
  font-size: 2.3rem;
  letter-spacing: -0.15rem;
  line-height: 1.8rem;
  font-weight: var(--font-500);
}

.main-two-elements > div:nth-child(1) > h2 > span {
  color: var(--purple-500);
  font-style: italic;
}

.main-two-elements > div:nth-child(1) > img {
  width: 100%;
  place-self: center;
}

.main-two-elements > div:nth-child(2) {
  background: var(--yellow-500);
  padding: 1rem;
  position: relative;
}

.main-two-elements > div:nth-child(2) > h2 {
  font-size: 2.3rem;
  line-height: 2rem;
  letter-spacing: -0.15rem;
  font-weight: var(--font-500);
  padding-right: 2rem;
}

.main-two-elements > div:nth-child(2) > img {
  position: absolute;
  bottom: 1rem;
  left: 1.1rem;
  width: 85%;
}

.main-seven-elements {
  flex: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: 1fr;
  gap: var(--gap);
}

.top-part,
.bottom-part,
.part-with-three-elements,
aside,
.main-desktop-banner,
.two-sub-banners-below-main,
.maintain-schedule,
.manage-multiple-accounts,
.fifty-six-percent {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.top-part {
  grid-row: 1 / 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.bottom-part {
  grid-row: 10/ 14;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
}

.fifty-six-percent {
  background: var(--white);
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

.fifty-six-percent > h3 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 2rem;
}

.fifty-six-percent > p {
  font-weight: var(--font-500);
}

.fifty-six-percent > img {
  width: 75%;
}

.grow-followers {
  background: var(--purple-500);
  grid-column: span 2;
  display: flex;
  padding: 1.2rem 0.8rem 1.2rem 1.2rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.grow-followers > h3 {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: var(--font-500);
  line-height: 2rem;
}

.grow-followers > img {
  width: 41%;
}

.part-with-three-elements {
  grid-column: span 2;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 5fr 4fr;
  gap: var(--gap);
}

aside {
  background: var(--purple-100);
  padding: 2.5rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

aside > h3 {
  font-size: 1.8rem;
  line-height: 1.4rem;
  font-weight: var(--font-500);
  letter-spacing: -0.1rem;
}

aside > img {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  height: 50%;
}

aside > p {
  font-weight: var(--font-500);
  padding-right: 0.5rem;
  line-height: 1.2rem;
}

.main-desktop-banner {
  background: var(--purple-500);
  color: white;
  display: grid;
  place-items: center;
  padding: var(--gap);
  gap: 1rem;
}

.main-desktop-banner > figure {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.main-desktop-banner > figure > img {
  width: 10rem;
  margin: 0 auto;
}

.ten-x {
  color: var(--yellow-500);
}

.two-sub-banners-below-main {
  display: flex;
  gap: var(--gap);
}

.maintain-schedule {
  background: var(--yellow-500);
  display: grid;
  gap: 1rem;
  padding: 1.2rem 1.2rem;
  position: relative;
}

.maintain-schedule > img {
  width: 80%;
  position: absolute;
  top: 60%;
  right: 50%;
  translate: 50% 0;
}

.maintain-schedule > h3 {
  font-size: 2rem;
  line-height: 1.4rem;
  font-weight: var(--font-500);
  letter-spacing: -0.1rem;
}

.manage-multiple-accounts {
  background: var(--white);
  position: relative;
  padding: 1.5rem;
  display: grid;
  place-items: end center;
}

.manage-multiple-accounts > img {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 120%;
}

.manage-multiple-accounts > h3 {
  font-size: 1.9rem;
  line-height: 1.4rem;
  font-weight: var(--font-500);
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 3.3rem;
  font-weight: var(--font-500);
  text-align: center;
  line-height: 3rem;
}

/* ---------------------------------- MOBILE ------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  /* FIRST WE POSITION EVERYTHING FROM TOP TO BOTTOM */

  main {
    padding: var(--page-padding-y-mobile) var(--page-padding-x-mobile);
  }

  section {
    flex-direction: column;
  }

  .main-seven-elements,
  .main-two-elements {
    height: auto;
    width: auto;
  }

  .main-seven-elements {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: var(--gap);
  }

  .main-two-elements {
    gap: var(--gap);
    height: auto;
  }

  .main-two-elements > div:nth-child(1) {
    height: 12rem;
  }

  .main-two-elements > div:nth-child(1) > h2 {
    font-size: 2rem;
    letter-spacing: -0.1rem;
    line-height: 1.8rem;
    font-weight: 600;
  }

  .main-two-elements > div:nth-child(1) > img {
    width: 60%;
    place-self: start;
  }

  .main-two-elements > div:nth-child(2) {
    height: 19rem;
  }

  .main-two-elements > div:nth-child(2) > h2 {
    font-size: 2rem;
  }

  .main-two-elements > div:nth-child(2) > img {
    bottom: 1rem;
    left: 1.1rem;
    width: 50%;
  }

  .two-sub-banners-below-main {
    flex-direction: column;
  }

  .bottom-part {
    gap: var(--gap);
    grid-template-columns: 1fr;
  }

  .top-part {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .part-with-three-elements {
    display: block;
  }

  .main-desktop-banner {
    height: 19rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  .main-desktop-banner > figure figcaption {
    font-size: 1.1rem;
  }

  .manage-multiple-accounts {
    height: 11.5rem;
  }

  .manage-multiple-accounts > img {
    width: 100%;
  }

  .manage-multiple-accounts > h3 {
    font-size: 1.5rem;
  }

  .maintain-schedule {
    height: 13rem;
    margin-bottom: 1rem;
  }

  .maintain-schedule > img {
    width: 50%;
    top: 50%;
    right: 69%;
  }

  aside {
    height: 25rem;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
  }

  aside > h3 {
    font-size: 1.6rem;
    text-align: center;
  }

  aside > p {
    text-align: center;
    font-size: 1.2rem;
  }

  aside > img {
    top: 45%;
  }

  .bottom-part {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    grid-template-columns: 1fr;
  }

  .grow-followers {
    display: flex;
    flex-direction: column;
    height: 22rem;
    padding: 1.2rem 0.8rem 1.2rem 1.2rem;
    margin: 1rem 0;
  }

  .grow-followers > h3 {
    font-size: 2rem;
    text-align: center;
  }

  .grow-followers > img {
    width: 60%;
  }

  .fifty-six-percent {
    padding: 1.5rem;
    height: 12rem;
    margin: 1rem 0;
  }

  .fifty-six-percent > h3 {
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 2rem;
  }

  .fifty-six-percent > p {
    font-weight: var(--font-500);
  }

  .fifty-six-percent > img {
    width: 55%;
  }
}
